<div class="input">
    <label for="{{ name }}" class="input__label">{{ label }}</label>
    <input type="text" {{ readonly }} id="{{ name }}" name="{{ name }}" placeholder="{{ placeholder }}" class="input__field {{className}}" style="width: {{style.width}}">
</div>