<div class="registration">
    <div class="registration__title">
        <h1>Регистрация</h1>
    </div>
    <div class="registration__fields">
        {{{ mail }}}
        {{{ login }}}
        {{{ name }}}
        {{{ surname }}}
        {{{ phone }}}
        {{{ password }}}
        {{{ passwordGuard }}}
    </div>
    <div class="registration__buttons">
        <span class="router">{{{ registration }}}</span>
        <a href="/" class="router">{{{ sign }}}</a>
    </div>
</div>
