<div class="registration">
    <div class="registration__title">
        <h1>Поменять пароль</h1>
    </div>
    <div class="registration__fields">
        <div class="field">{{{ avatar }}}</div>
        <div class="field">{{{ oldPassword }}}</div>
        <div class="field">{{{ newPassword }}}</div>
        <div class="field">{{{ newPasswordGuard }}}</div>
    </div>
    <div class="registration__buttons">
        {{{ savaChanges }}}
        <span class="router">{{{ back }}}</span>
    </div>
</div>
