<div class="registration">
    <div class="registration__title">
        <h1>Изменить данные</h1>
    </div>
    <div class="registration__fields">
        <div class="field">{{{ avatar }}}</div>
        <div class="field">{{{ mail }}}</div>
        <div class="field">{{{ login }}}</div>
        <div class="field">{{{ name }}}</div>
        <div class="field">{{{ surname }}}</div>
        <div class="field">{{{ displayName }}}</div>
        <div class="field">{{{ phone }}}</div>
    </div>
    <div class="registration__buttons">
        {{{ savaChanges }}}
        <span class="router">{{{ back }}}</span>
    </div>
</div>
